.table {
  width: 100%;
  border-collapse: collapse;
  
  &__head {
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap;
    background-color: #3A80BA;
    text-align: left;
    border-left: 1px solid white;
  }

  &__row {
    background-color: #FBFBFB;

    &:nth-child(even) {
      background-color: #F1F1F1;;
    }
  }

  &__column {
    text-decoration: none;
    color: black;
    border-left: 1px solid white;
    padding: 10px 20px;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
