.services {
  text-align: center;

  &__title {
    font-size: 32px;
    font-weight: 400;

    &_bold {
      font-weight: 700;
    }
  }

  &__text {
    color: #7E7E7E;
    font-size: 20px;
  }

  &__cards {
    padding-top: 40px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .services {
    &__title {
      margin-top: 10px;
      font-size: 24px;
    }

    &__text {
      font-size: 16px;
    }

    &__cards {
      flex-wrap: wrap;
    }
  }
}
